mat-toolbar {
    display: flex;
    justify-content: space-between;
    height: 75px;
    padding: 10px;
}

/* Logo */
.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding-inline: 10px;
}

.header-logo img{
    margin-inline: 10px;
    width: 80px;
}

/* Profile: Account, Favorites, Cart */
.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 10px;
}

.header-button button{
    margin-inline: 5px;
}