<mat-toolbar>
  <div class="header-logo">
      <a href="">
        <img src="./assets/icon/logo.svg" />
      </a>
  </div>

  <div class="header-search">
    <mat-icon fontIcon="search" />
    <input type="text" id="search-item">
  </div>


  <div class="header-profile">
    <a class="a-icon" mat-mini-fab color="light" routerLink=""><mat-icon fontIcon="account_circle" /></a>
    <a class="a-icon" mat-mini-fab color="light" routerLink=""><mat-icon fontIcon="favorite" /></a>
    <a class="a-icon" mat-mini-fab color="light" routerLink=""><mat-icon fontIcon="shopping_cart" /></a>
  </div>
</mat-toolbar>