<main>
    <section class="login">

        <div class="login-container">

            <mat-toolbar color="primary">
                <p>Efetuar Login</p>
            </mat-toolbar>

            <div class="login-content">
                <div class="data-login">
                    <mat-form-field class="example-full-width">
                        <mat-label>Username</mat-label>
                        <input [(ngModel)]="usuario" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Senha</mat-label>
                        <input [(ngModel)]="senha" matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>

                <div class="btn-login">
                    <button (click)="fazerLogin()" mat-flat-button color="primary">Login</button>
                </div>

            </div>
        </div>
    </section>
</main>