.content-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 85vh;
}

.content-form h2{
    font-weight: 200;
}

.container{
    background-color: white;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
}

form{
    display: flex;
    flex-direction: column;
}