mat-toolbar {
    display: flex;
    justify-content: space-between;
    height: 75px;
    padding: 10px;
}

/* Profile: Account, Favorites, Cart */
.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 10px;
}

.header-button button{
    margin-inline: 5px;
}